<h1> <%= @farm.name %></h1>

<div class="btn-toolbar">
  <%= link_to "Empleados", farm_employees_path(@farm), class: "btn btn-default" %>
  <%= link_to "Actividades", "#", class: "btn btn-default" %>
  <%= link_to "Lotes", farm_lotes_path(@farm), class: "btn btn-default" %>
  <%= link_to "Sub-Lotes",  farm_sub_lotes_path(@farm), class: "btn btn-default" %>
  <%= link_to "Plagas", "#", class: "btn btn-default" %>
</div>

