<div class="row">
  <h2 class="text-center">Lote <%= @lote.name %></h2>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Variedad</h3>
      </div>
      <div class="panel-body">
        <%= @lote.fruit_type %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Tamaño</h3>
      </div>
      <div class="panel-body">
        <%= @lote.sub_lotes.count %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Cantidad de Sublotes</h3>
      </div>
      <div class="panel-body">
        <%= @lote.sub_lotes.count %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Acciones</h3>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <%= link_to "Editar Lote", edit_farm_lote_path(@lote.farm, @lote), class: "list-group-item" %>
          <%= link_to "Destruir Lote", farm_lote_path(@lote.farm, @lote), class: "list-group-item", method: :delete %>
          <%= link_to "Crear Sub Lote", new_farm_sub_lote_path(@lote.farm), class: "list-group-item" %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Sub Lotes</h3>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Codigo</th>
            <th>Arboles</th>
            <th>Edad</th>
            <th>Variedad</th>
          </tr>
        </thead>
        <tbody>
          <% @lote.sub_lotes.each do |sub_lote| %>
            <tr>
              <td><%= link_to sub_lote.name, farm_sub_lote_path(@lote.farm, sub_lote) %></td>
              <td><%= sub_lote.code %></td>
              <td><%= sub_lote.tree_count %></td>
              <td><%= sub_lote.age %></td>
              <td><%= sub_lote.fruit_variety %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= link_to "Atras", :back %>