<div class="row">
  <h2 class="text-center">Lote <%= @lote.name %></h2>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Caracteristicas</h3>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Fruta</th>
            <th>Tamaño(Ha)</th>
            <th>Sub-Lotes</th>
            <th>Numero de Arboles</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td class="text-center"><%= @lote.fruit_type%></td>
              <td class="text-center"><%= @lote.size %></td>
              <td class="text-center"><%= @lote.sub_lotes.count %></td>
              <td class="text-center"><%= @lote.tree_count %></td>
            </tr>
        </tbody>
      </table>
    </div>
    <% if can?(:manage, Lote) %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Acciones</h3>
        </div>
        <div class="panel-body">
          <div class="list-group">
            <%= link_to "Editar Lote", edit_farm_lote_path(@lote.farm, @lote), class: "list-group-item" %>
            <%= link_to "Destruir Lote", farm_lote_path(@lote.farm, @lote), class: "list-group-item", method: :delete, data: {confirm:"Esta seguro de destruir lote"} %>
            <%= link_to "Crear Sub Lote", new_farm_sub_lote_path(@lote.farm, lote_id: @lote.id), class: "list-group-item" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-8  ">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Sub-Lotes</h3>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Codigo</th>
            <th>Arboles</th>
            <th>Edad</th>
            <th>Variedad</th>
          </tr>
        </thead>
        <tbody>
          <% @lote.sub_lotes.each do |sub_lote| %>
            <tr>
              <td><%= link_to sub_lote.name, farm_sub_lote_path(@lote.farm, sub_lote) %></td>
              <td><%= sub_lote.code %></td>
              <td><%= sub_lote.tree_count %></td>
              <td><%= time_ago_in_words(sub_lote.plantation_date) %></td>
              <td><%= sub_lote.fruit_variety %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= pie_chart @lote.sub_lotes.group(:fruit_variety).sum(:tree_count) %>
  </div>
</div>
<%= link_to "Atras", :back %>