<div class="row">
  <div class="col-md-12">
    <h2 class="text-center">
      <%= @user.name %>
    </h2>
    <h4>Empleado Desde: <%= @user.created_at.to_date.to_formatted_s(:long_ordinal) %></h4>
    <h4>Rol: <%= @user.role.name %></h4>
    <% if can?(:update, User) %>
      <% unless @user.role?(:farm_admin) && current_user.role?(:farm_admin) %>
        <h4><%= link_to "Editar", edit_user_path(@user) %></h4>
      <% end %>
    <% end %>
    <% if can?(:destroy, User) %>
      <% unless @user.role?(:farm_admin) && current_user.role?(:farm_admin) %>
        <h4><%= link_to "Borrar", user_path(@user),method: :delete %></h4>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Sin Empezar
        </h3>
        <div class="panel-body">
          <div class="list-gruop" id="sin-empezar">
            <% @tasks.each do |activity| %>
              <% if activity.status == 0 %>
                <%= render activity %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          En Proceso
        </h3>
        <div class="panel-body">
          <div class="list-gruop" id="sin-empezar">
            <% @tasks.each do |activity| %>
              <% if activity.status.between?(1,99) %>
                <%= render activity %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Terminadas
        </h3>
        <div class="panel-body">
          <div class="list-gruop" id="sin-empezar">
            <% @tasks.each do |activity| %>
              <% if activity.status == 100 %>
                <%= render activity %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>